<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hello Tama Conejos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/card.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid ">
            <a class="navbar-brand" href="#"><img src="static/app/img//hello-tama.png" alt="" width="310" height="110"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="productos.html"><img src="static/app/img//alimentos-para-mascotas.png" width="30" height="30"> Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ofertas.html"><img src="static/app/img//descuento.png" width="30" height="30"> Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="kits.html"><img src="static/app/img//kit-de-herramientas.png" width="30" height="30"> Kits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="carro.html"><img src="static/app/img//carrito-de-compras.png" width="30" height="30"> Carro de venta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#suscrpciones"><img src="static/app/img//suscripcion.png" width="30" height="30"> Suscrpciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#cerrar"><img src="static/app/img//opcion-de-cerrar-sesion.png" width="30" height="30"> Cerrar sesión</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav> 



    <!--Contenido-->
     
         

   
     
    <div class="text_productos">
        <h1>Catálogo para Conejitos</h1>
    </div>


   <div class="container__row">
       <div class="row">
           <div class="col-sm-1"> </div>

              <div class="col-sm-10 ">    
                
             
                 <div class="container_todoproducto">
                 <div class="card">
                     <img src="static/app/img//catagatoratonazul.jpg"  alt="300" width="300">
                     <h4>Ratón Mecanico Azul $6.600</h4>
                     <a href=""><button type="button" class="btn btn-info">Agregar al carro</button></a>
                </div>
                 
             
                 
                <div class="card">  
                    <img src="static/app/img//catagatoellacollar.jpg" alt="300" width="300">
                    <div class="conainer_piefoto">
                        <h4>Collar Zeecat $4.900</h4>
                        <button type="button" class="btn btn-info">Agregar al carro</button>
                    </div>
                </div>


                      
             
                         <div class="card">  
                            <img src="static/app/img//catagatopalasanitaria.png" alt="300" width="300">
                             <div class="conainer_piefoto">
                                 <h4>Pala Sanitaria $5.940</h4>
                                 <button type="button" class="btn btn-info">Agregar al carro</button>
                             </div>
                        </div>
    
                             
                         
             
                             <div class="card">  
                                <img src="static/app/img//catagatobasehigne.jpg" alt="300" width="300">
                                <div class="conainer_piefoto">
                                    <h4>Base High Negro $190.000</h4>
                                    <button type="button" class="btn btn-info">Agregar al carro</button>
                                </div>
                            </div>
          
                                

                                 <div class="card">  
                                    <img src="static/app/img//catagatoplatoolive.jpg" alt="300" width="300">
                                    <div class="conainer_piefoto">
                                        <h4>Plato Zeecat Olive $6.900</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
         
                               
                           

                                <div class="card">  
                                    <img src="static/app/img//catagatocollarhony.jpg" alt="300" width="300">
                                    <div class="conainer_piefoto">
                                        <h4>Collar Zeecat Honey $4.900</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
      
                               
                          

                                <div class="card">  
                                    <img src="static/app/img//catagatomongecat.jpg" alt="300" width="300">
                  
                                    <div class="conainer_piefoto">
                                        <h4>Monge Adulto Cat $10.970</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
   
                            
                             

                                <div class="card">  
                                    <img src="static/app/img//cataperroantiparasitario.png" alt="300" width="300">
       
                                    <div class="conainer_piefoto">
                                        <h4>Antiparasitario Fiprokill $23.900</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
       
                             
                           

                                <div class="card">  
                                    <img src="static/app/img//catagatobañojumbo.jpg" alt="300" width="300">
           
                                    <div class="conainer_piefoto">
                                        <h4>Baño Jumbo para Gatos $52.000</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>

                              
                           

                                <div class="card">  
                                    <img src="static/app/img//catagatoarenarosa.jpg" alt="300" width="300">
            
                                    <div class="conainer_piefoto">
                                        <h4>Catit Arena Rosada $4970</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                               
                                </div>
      
                               

                                <div class="card">  
                                    <img src="static/app/img//catagatocamacubo.png" alt="300" width="300">
     
                                    <div class="conainer_piefoto">
                                        <h4>Cama Cubo Chica $23.000</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
         
         
                          

                       
                                <div class="card">  
                                    <img src="static/app/img//catagatosnacksalmon.png" alt="300" width="300">
                             
                                <div class="conainer_piefoto">
                                    <h4>Snack de Salmon $3.100</h4>
                                    <button type="button" class="btn btn-info">Agregar al carro</button>
                                </div>
                                </div>
                                
                          

                                <div class="card">  
                                    <img src="static/app/img//cataperrobolsasbiodegr.png" alt="300" width="300">
                
                                    <div class="conainer_piefoto">
                                        <h4>Catit Bebedero 3L $31.950</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                             
                                </div>
                               
                          

                                <div class="card">  
                                    <img src="static/app/img//catagatorasguñadormari.png" alt="300" width="300">
                               
                                    <div class="conainer_piefoto">
                                        <h4>Catit Rasguñador Mariposa $20.820</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
                         
                             
                           

                                <div class="card">  
                                    <img src="static/app/img//catagatoalicateuñas.jpg" alt="300" width="300">
                             
                                    <div class="conainer_piefoto">
                                        <h4>Catit Alicate para ñas $8.000</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                              
                                </div>
                                
                            
                                <div class="card">  
                                    <img src="static/app/img//catagatoproplan.png" alt="300" width="300">
                             
                                    <div class="conainer_piefoto">
                                        <h4>Pro plan Adulto Cat $53.000</h4>
                                        <button type="button" class="btn btn-info">Agregar al carro</button>
                                    </div>
                                </div>
                                   
                              
                 </div>
                </div>
            </div>


                   
            <div class="col-sm-1"></div>  
                  

            <div class="container_informacion">
                <div class="container_despachos">
                        <h4>Despachos</h4>
                        <br>
                        <p>Despachos a Puente Alto $1.000. Despachos a La Florida $ 2.000. Despachos a Pirque $3.000. Envíos durante la tarde o en día hábil siguiente. Despachos a otras comunas de la Región Metropolitana en 24 a 48hrs hábiles. con un recargo de $3.500 hasta 20kg, cada 10kg adicional se suma $1.000. Comunas Rurales de Región Metropolitana $6.000. Demás regiones de Chile se envía por Starken Por Pagar, el cliente paga en efectivo al momento de recibir el pedido.</p>
                </div>
                <div class="container_pago">
                        <h4>Formas de Pago</h4>
                        <br>
                        <p>-Tarjetas y pago en efectivo en nuestra tienda.<br>
                           -Transferencia Bancaria<br>
                           -Depósito Bancario 
                        </p>
                </div>      
                <div class="container_contactenos">
                        <h4>Contactenos</h4>
                        <br>
                        <p>-WhatsApp +569 9671 0384 <br>
                           -Email Hello Tama@gmail.com <br>
                           -Dirección calle Eyzaguirre #5050, Metro Puente Alto,
                            Santiago, Metropolitana de Chile.
                         </p>
                </div>  
            </div>             
           
              
                       
               
                  


                          
        
       </div>    
   </div>     

       <!--modal de suscripiones-->
       <div class="modal fade" id="suscrpciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suscribete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            <div id="emailHelp" class="form-text">Escribe una contraseña que no hayas usado en otros sitios web</div>
    
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Enviame notificaciones de ofertas</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-bs-dismiss="modal">Sucribirme</button>
                </div>
            </div>
        </div>
    </div>
    

   <!--MODAL CERRAR SESIÓN-->
 <div class="modal fade" id="cerrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3" >
                        <div class="alert alert-danger">
                            <strong>!Cuidado cierre de sesión!</strong> ¿Desea cerrar sesión?
                          </div>
                        
                    </div>
                    <div class="mb-3 form-check ">
                        <a href="index.html"><button type="button" class="btn btn-danger">Sí</button></a>                  
                        
                        <button type="button" class="btn btn-success">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 <!--AQUI TERMINA MODAL CERRAR SESION-->


    <footer>
        <div class="container__footer">
      <!-- <div class="p-5 text-white d-flex align-items-center">-->
            <div class="box__footer">
                <div class="logo">
                    <img src="static/app/img//hello-tama-cuadrado.png" alt="">
                </div>
                <div class="terms">
                    <p>Hello Tama la página más divertida y variada para tus peluditos</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Tienda</h2>
                <a href="">Acerca de Hello Tama</a>
                <a href="">Horarios</a>
                <a href="">Despachos y retiros</a>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://www.instagram.com/bestfriends_petshop/"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <a href="#"> <i class="fa-brands fa-facebook-f"></i> Facebook</a>
                <a href="#"><i class="fa-brands fa-tiktok"></i> TikTok</a>
            </div>
        <!--</div>-->

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2022 <b>Hello Tama</b></p>
        </div>
    </div>
    </footer>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>