{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<!--FORMULARIO DE REGISTRO-->
<div class="container__row">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2"></div>

                <div class="col-sm-8 mt-5">
                    <div class="container-recuperar">
                        <div class="card bg-light">
                            <div class="card-body text-center">
                                <h2>Registro nivel administrador</h2>
                                <p class="card-text">Registrate para poder comprar los mejores implementos para tus
                                    mascotas.</p>


                                <!--*********************************-->
                                <form
                                    action="{% if usuario.id %}./modificarUsuario {%else%} ./agregarUsuario{% endif %}"
                                    method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{% if usuario.id %}{{usuario.id}}{% endif %}">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Correo electrónico"
                                            name="correo" value="{% if usuario.email %}{{usuario.email}}{% endif %}">
                                    </div>
                                    <div class="form-group">

                                        <input type="nombre"
                                            value="{% if usuario.nombre %}{{usuario.nombre}}{% endif %}" s
                                            class="form-control" placeholder="Nombre" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <input type="nombre"
                                            value="{% if usuario.apellido %}{{usuario.apellido}}{% endif %}" s
                                            class="form-control" placeholder="Apellido" name="apellido">
                                    </div>
                                    {% if usuario %}
                                    {% else %}
                                    <div class="form-group">
                                        <input type="password" required class="form-control" placeholder="Contraseña"
                                            name="contrasena">
                                    </div>
                                    {% endif %}


                                    <div class="form-group">
                                        <select class="form-control" name="tipo" id="tipo">
                                            {% for tipo in tipos %}
                                            <option {% if usuario.tipo_id == tipo.id %}selected{% endif %} value="{{tipo.id}}">{{tipo.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!--*********************************-->

                                    <a href="adminUsuario"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                                    <button  class="btn btn-success">Guardar</button>
                                    <br>
                                    {{mensaje}}
                                    <p class="card-text mt-3">Al registrarte, aceptas nuestras Condiciones, la
                                        Política de datos y la Política de cookies.</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2"></div>

                <div class="row">
                    <div class="col-sm-12"></div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}